@import '../../app/_utils';

.serviceBlock {
  border-radius: 18px;
  background-color: black;
  //margin-top: 180px;
  margin-bottom: 50px;
  padding: 100px 80px;
  position: relative;
  z-index: 1;
}

.serviceAncore {
  margin-top: -183px;
  padding-top: 23px;
}

.serviceAncoreText {
  font-family: 'IstokWeb';
  color: #D9D9D9;
  background-color: black;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 25px 50px;
  width: fit-content;
  font-size: 40px;
  //margin-top: -160px;
  margin-left: 29.15%;
}

.weOffer {
  color: #FFFFFF;
  font-weight: bold;
  font-size: auto-clamp(30, 98);
  line-height: auto-clamp(30, 98);
  text-transform: uppercase;
  text-align: right;
  margin: 0 20px auto-clamp(-8, -245) 0;
}

.offerText {
  border-radius: 18px;
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: auto-clamp(20, 40);
  text-align: left;
  padding: 30px 40px;
  margin-bottom: 100px;
  margin-top: -20px;
}

.techLine {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.technicBlock {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(3, 100px);
  align-items: center;

  @media screen and (max-width: 1115px) {
    grid-template-columns: repeat(4, 100px);
  }
}

.techElement {
  background-color: #D9D9D9;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;

  filter: grayscale(100%);
  transition: filter 0.3s ease;
  animation: grayscale-animation 6s infinite;
  &:hover {
    filter: grayscale(0%);
  }

  @keyframes grayscale-animation {
    0%, 100% {
      filter: grayscale(100%);
    }
    50% {
      filter: grayscale(0%);
    }
  }

  &:hover {
    filter: grayscale(0%);
    animation: none;
  }
}

.techImage {
  object-fit: contain;
}

.whyTitle {
  color: #FFFFFF;
  font-weight: bold;
  font-size: auto-clamp(30, 98);
  line-height: auto-clamp(30, 98);
  text-transform: uppercase;
  text-align: left;
  margin: 0 20px auto-clamp(-8, -45) auto-clamp(40, 220);
}

.whyGroup {
  position: relative;
}

.whyText {
  position: relative;
  border-radius: 18px;
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: auto-clamp(20, 40);
  text-align: left;
  padding: 30px 40px;
  z-index: 2;
  width: 80%;
  margin: -20px auto 0 auto;


  p {
    font-weight: normal;
    padding: 0;
    margin: 0 0 0 10px;
    text-align: justify;
    text-justify: inter-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

.whyTextBoldLine {
  font-size: auto-clamp(20, 44);
  font-family: 'IstokWebBold';
  margin: 0 0 0 0 !important;
}

.greenWhyBG {
  background: #00FF47;
  border-radius: 18px;
  height: 350px;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 0;
}

.whiteCloud1 {
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-top-right-radius: 18px;
  width: 300px;
  height: 60px;
  background: #FFFFFF;
  position: relative;
  z-index: 2;
  margin: 0 145px 0 auto;
}

.whiteCloud2 {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  width: 300px;
  height: 60px;
  background: #FFFFFF;
  position: relative;
  z-index: 2;
  margin: -15px 45px -15px auto;
}

.whyGreenCloud1 {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 65px;
  height: 65px;
  border-radius: 12px;
  background: #00FF47;
  margin: 0 0 -100px auto;
  z-index: 2;
}

.whyGreenCloud2 {
  position: absolute;
  bottom: -6%;
  right: 8%;
  width: 65px;
  height: 65px;
  border-radius: 12px;
  background: #00FF47;
  margin: 0 0 -100px auto;
  z-index: 2;
}

.whyPointsList {
  position: relative;
  margin-top: 40px;
  margin-left: 120px;
  z-index: 100;
}

.shortSlideBlock {
  position: relative;
  z-index: 3;
  background: #00FF47;
  border-radius: 18px;
  width: 90%;
  height: 30px;
  margin: -130px auto 0 auto;
}

.longSlideBlock {
  position: relative;
  z-index: 3;
  background: #00FF47;
  border-radius: 18px;
  width: 90%;
  height: 100px;
  margin: -130px auto 0 auto;
}

.slidingBlock {
  position: relative;
  z-index: -1;
  background: #00FF47;
  border-radius: 18px;
  width: 90%;
  margin: -300px auto 100px auto;
  padding: auto-clamp(30, 100) auto-clamp(20, 80);
}

.slidingText {
  padding: auto-clamp(20, 80) auto-clamp(0, 80) 10px auto-clamp(0, 80);
  border-radius: 11px;
  background: #FFFFFF;
}

.sliding {
  overflow: hidden;
}

.hiddenSlide {
  transform: translateY(-100%);
  transition: transform 3s ease-in-out;
  position: relative;
  z-index: -1;
}

.visible {
  transition: transform 3s ease-in-out;
  transform: translateY(0);
}

.lightGreenCloud {
  background: #84FF00;
  width: 100%;
  height: 250px;
  border-radius: 18px;
  position: relative;
  z-index: -2;
}

.slidingGreenCloud1, .slidingGreenCloud2, .slidingGreenCloud3, .slidingGreenCloud4, .slidingGreenCloud5, .slidingGreenCloud6 {
  background: #00FF47;
  border-radius: 11px;
}

.slidingGreenCloud1 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 10px;
}

.slidingGreenCloud2 {
  width: auto-clamp(140, 300);
  height: 15px;
  margin: -20px 25% 0 auto;
}

.slidingGreenCloud3 {
  width: auto-clamp(180, 350);
  height: 35px;
  margin: -15px 10% 0 auto;
}

.slidingGreenCloud4 {
  width: auto-clamp(160, 360);
  height: 112px;
  margin: -35px 2% 0 auto;
}

.slidingGreenCloud5 {
  width: auto-clamp(150, 400);
  height: 9px;
  margin: -65px -20px 40px auto;
}

.slidingGreenCloud6 {
  width: auto-clamp(150, 400);
  height: 9px;
  margin: -15px -30px 10px auto;
}

.slidingWhiteCloud1, .slidingWhiteCloud2, .slidingWhiteCloud3 {
  position: relative;
  z-index: 3;
  background: #FFFFFF;
  border-radius: 11px;
}

.slidingWhiteCloud1 {
  width: auto-clamp(60, 130);
  height: 50px;
  margin:  0 -20px -20px auto;

  @media screen and (max-width: 720px) {
    margin-top: 20px;
  }
}

.slidingWhiteCloud2 {
  width: auto-clamp(150, 300);
  height: 50px;
  margin:  0 -100px -15px auto;
}

.slidingWhiteCloud3 {
  width: auto-clamp(200, 480);
  height: 50px;
  margin:  0 -60px -10px auto;
}

@media screen and (max-width: 720px) {
  .serviceAncore {
    display: none;
  }

  .serviceBlock {
    //margin-top: 50px;
    padding: 30px 20px 120px 30px;
    margin-bottom: 50px;
  }

  .offerText {
    margin-top: 0;
    padding: 15px;
    text-align: center;
    margin-bottom: 25px;
  }

  .techLine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .technicBlock {
    margin-top: 25px;
    grid-template-rows: repeat(6, 80px);
    grid-template-columns: repeat(3, 80px);
    gap: auto-clamp(15, 150);
    margin-bottom: 50px;
  }

  .techElement {
    width: 80px;
    height: 80px;
    padding: 5px;
  }

  .techImage {
    width: 70px;
    height: 70px;
  }

  .techLine {
    margin-bottom: 30px;
  }

  .whiteCloud1, .whiteCloud2 {
    display: none;
  }

  .whyText {
    margin-top: 0;
    width: 95%;
    padding: 10px;
    margin-bottom: 50px;
  }

  .whyPointsList {
    margin-left: 10px;
  }

  .slidingText {
    padding: 20px 5px;
  }
}