@import '../../app/_utils';

.projectBlock {
  border-radius: 18px;
  background-color: black;
  padding: 80px auto-clamp(10, 80);
  margin-bottom: 100px;
  color: #FFFFFF;
}

.projectAncore {
  margin-top: -183px;
  padding-top: -1px;
}

.projectAncoreText {
  font-family: 'IstokWeb';
  color: #D9D9D9;
  background-color: black;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 25px 50px;
  width: fit-content;
  font-size: 40px;
  //margin-top: -160px;
  margin-left: 49.17%;
}

.projectTitle {
  font-family: 'IstokWebBold';
  font-size: auto-clamp(20, 50);
  padding-bottom: 15px;
}

.projectDescriptionBlock {
  display: grid;
  grid-template-columns: 4fr 3fr;
  gap: auto-clamp(5, 50);
  @media screen and (max-width: 1440px) {
    grid-template-columns: 4fr 4fr;
  }
  @media screen and (max-width: 1170px) {
    grid-template-columns: 3fr 4fr;
  }
  @media screen and (max-width: 820px) {
    grid-template-columns: 3fr 5fr;
  }
}

.projectDescription {
  font-size: auto-clamp(20, 40);
  align-self: center;
  text-align: justify;
  padding-left: auto-clamp(0, 40);
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  text-align-last: left;
  // 4. (Опционально) Дополнительное управление переносом, если hyphens недостаточно
  // Используйте с осторожностью, так как может ломать слова в нежелательных местах,
  // если 'hyphens: auto' не сработает (например, нет словарей в браузере).
  // overflow-wrap: break-word; // Позволяет переносить очень длинные слова, которые не могут быть перенесены по слогам
  // word-break: break-word; // Похоже на overflow-wrap, но может быть более агрессивным

  a {
    font-family: 'IstokWebBold';
  }
}

.tilt {
  align-self: start;
  justify-self: center;
  width: fit-content;
  height: fit-content;
  scale: 1.2;
  align-items: center;
  justify-items: center;
  margin-left: 50px;
}

.projectImage {
  max-width: 80vw;
  width: auto;
  height: fit-content;
  align-self: center;
  justify-self: end;
  padding: 15px;
}

.projectCloud {
  position: relative;
  font-family: 'Rubik';
  font-weight: bold;
  color: black;
  padding: 15px;
  background-color: #00FF47;
  border-radius: 18px;
  width: fit-content;
  z-index: 4;
  margin: -80px 0 50px 40%;
}

.projectCloudText {
  position: relative;
  z-index: 4;
  font-size: auto-clamp(14, 24);
}

.projectCloud1 {
  background-color: #00FF47;
  border-radius: 18px;
  height: 30px;
  width: 70px;
  position: absolute;
  top: -15px;
  right: 40px;
  z-index: 1;
}

.projectCloud2 {
  background-color: #00FF47;
  border-radius: 18px;
  height: 30px;
  width: 70px;
  bottom: 0;
  left: -30px;
  position: absolute;
  z-index: 1;
}

.projectPointList {
  height: fit-content;
  margin-top: 20px;
}


.cardSet {
  margin-left: 40px;
  display: flex;
  width: fit-content;
  position: relative;
  padding-bottom: 100px;
  cursor: pointer;
  padding-top: 40px;
  @media screen and (max-width: 1440px) {
    margin-left: 70px;
  }
  @media screen and (max-width: 1350px) {
    margin-left: 40px;
  }
  @media screen and (max-width: 1280px) {
    margin-left: 20px;
  }
  @media screen and (max-width: 1235px) {
    margin-left: 0;
  }
  @media screen and (max-width: 720px) {
    align-self: center;
  }
}

.card1, .card2, .card3 {
  position: relative;
  height: 340px;
  width: 170px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
  margin-left 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
  margin-top 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
  z-index 0s linear 0.4s;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
  margin-left 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
  margin-top 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card1 {
  z-index: 2;
  margin-top: 40px;

  @media screen and (max-width: 720px) {
    margin-top: 30px;
    transform: rotate(-5deg);
  }
}

.card2 {
  z-index: 3;
  transform-origin: left bottom;
  transform: rotate(10deg);
  margin-left: -120px;
  
  @media screen and (max-width: 720px) {
    transform: rotate(0deg);
  }
}

.card2:hover {
  z-index: 5;
  transform: rotate(10deg) translateY(-10px);
}

.card3 {
  z-index: 4;
  transform-origin: left bottom;
  transform: rotate(20deg);
  margin-left: -120px;

  @media screen and (max-width: 720px) {
    transform: rotate(5deg);
    margin-top: -30px;
  }
}

.card3:hover {
  z-index: 5;
  transform: rotate(20deg) translateY(-10px);
}

.cardSet:hover .card1 {
  margin-top: 0;
  z-index: 2;

  @media screen and (max-width: 720px) {
    transform: rotate(-5deg);
    margin-top: 0px;
  }
}

.cardSet:hover .card2 {
  margin-left: -80px;
  transform: rotate(10deg) translateY(-20px);
  @media screen and (max-width: 720px) {
    transform: rotate(0deg);
    //margin-left: -40px;
    //margin-top: -20px;
    margin-left: -100px;
    margin-top: 0px;
  }
}

.cardSet:hover .card3 {
  margin-left: -80px;
  transform: rotate(20deg) translateY(-30px);

  @media screen and (max-width: 720px) {
    transform: rotate(5deg);
    //margin-left: -40px;
    //margin-top: -40px;
    margin-left: -100px;
    margin-top: 0px;
  }
}

.cardSet:hover .card1:hover {
  margin-top: 0;
  z-index: 5;
  transform: translateY(-30px);
}

.cardSet:hover .card2:hover {
  z-index: 5;
  transform: rotate(10deg) translateY(-60px);
  @media screen and (max-width: 720px) {
    transform: rotate(0deg);
    margin-top: -20px;
  }
}

.cardSet:hover .card3:hover {
  z-index: 5;
  transform: rotate(20deg) translateY(-90px);

  @media screen and (max-width: 720px) {
    transform: rotate(0deg);
    margin-top: -40px;
  }
}

.ndaBlock {
  display: flex;
  justify-self: center;
  align-self: center;
}


@media screen and (max-width: 720px) {
  .projectBlock {
    padding: 30px 20px;
    margin-bottom: 50px;
  }

  .projectAncore {
    display: none;
  }

  .projectDescriptionBlock {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }

  .projectDescription {
    padding-left: 0;
  }

  .projectCloud {
    margin: 30px 0 30px 30px;
  }

  .projectImage {
    width: auto;
  }

  .tilt {
    width: auto;
    margin: auto;
  }

  .projectPointList {
    width: 100%;
  }
}
