@import '../../../app/_utils';

.container {
  background: black;
  color: white;
  width: fit-content;
}

.item {
  display: grid;
  grid-template-columns: auto-clamp(200, 390) 140px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  justify-self: end;
}

.circle {
  background: white;
  border-radius: 15px;
  margin-left: 10px;
  transition: width 0.3s ease;
}

.text {
  font-family: "IstokWebBold";
  line-height: 45px;
  max-width: 350px;
  margin-right: 10px;
  font-size: auto-clamp(20, 40);
  text-align: right;
  align-self: center;
}

.space {
  width: 120px;
  align-items: end;
}