@import '../../../app/_utils';

.container {
  background: black;
  color: white;
  width: fit-content;
}

.item {
  display: grid;
  grid-template-columns: repeat(2, auto-clamp(120, 300));
  align-items: start;
  cursor: pointer;
  margin-bottom: 10px;
  justify-self: end;
}

.circle {
  background: white;
  border-radius: 15px;
  margin-left: 10px;
  transition: width 0.3s ease;
}

.text {
  max-width: 350px;
  margin-right: 10px;
  font-size: auto-clamp(16, 28);
  text-align: right;
}

.space {
  width: 120px;
  align-items: end;
}