@import '../../../app/_utils';

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  background: black;
}

.title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: auto-clamp(30, 98);
  line-height: auto-clamp(30, 98);
  text-transform: uppercase;
  text-align: right;
  margin: 0 80px auto-clamp(-7, -45) auto;
}

.input, .inputName, .inputEmail, .textarea {
  display: block;
  width: 95%;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: none;
  font-size: auto-clamp(20, 32);
  color: black;
  background: white;
  outline: none;
  margin-top: -10px;
  transition: transform 2s ease;
}

.inputName, .textarea {
  transform: translateX(0%);
  &:hover {
    transform: translateX(5%);
  }
}

.inputEmail {
  transform: translateX(5%);
  &:hover {
    transform: translateX(0%);
  }
}

.textarea {
  font-family: 'IstokWeb';
  height: 150px;
  resize: none;

  ::placeholder {
    font-family: 'IstokWeb';
  }
}

.button {
  background: #00ff66;
  color: #FF67C2;
  font-size: auto-clamp(20, 55);
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: -50px;
  margin-right: 12%;
  align-self: flex-end;
  position: relative;
  z-index: 2;
  animation: pulse 2s infinite;

  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.8;
    }
  }
}

.button:hover {
  background: #00cc55;
}

.error {
  color: red;
  font-size: 14px;
  margin: -30px 0 10px 0;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .title {
    margin-right: auto;
  }

  .input, .inputName, .inputEmail,
  .textarea {
    margin-top: 0;
  }
}