.container {
  display: grid;
  grid-template-columns: 200px 120px;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  width: 100%;
}

.circle {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 15px;
  transition: width 0.3s ease;
  margin-right: auto;
}

.text {
  font-family: 'IstokWebBold';
  text-align: left;
  width: max-content;
}
