
/* 1. Контейнер для всего Swiper */
.swiperContainer {
  width: 100%;
  max-width: 1400px;
  margin: 40px auto;
  overflow: hidden;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.swiperSlide {
  width: 300px !important;
  flex-shrink: 0;
  height: auto;
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1024px) {
  .swiperSlide.swiper-slide-active {
    width: 480px !important;
  }

  .swiperSlide.swiper-slide-active .slideInner {
    background-color: #00FF00;
  }
}

.baseSlideStyle, .activeSlideStyle {
  width: 100%;
  min-height: 400px;
  border-radius: 18px;
  display: flex;
  padding: 25px;
  box-sizing: border-box;
  font-size: 1.8rem;
  font-weight: 600;
  color: #222;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out;
  transform-origin: center center;
}

.baseSlideStyle {
  background-color: #E9E9E9;
  transform: scale(0.9);
}

.activeSlideStyle {
  background-color: #00FF00;
  transform: scale(1);
}

@media screen and (max-width: 720px) {
  .swiperSlide {
    width: 100% !important;
    border: 1px solid green;
  }
  .mySwiper {
    width: 100%;
    border: 1px solid red;
  }
  .activeSlideStyle {
    width: 100%;
  }
  .baseSlideStyle {
    transform: scale(1);
  }

}