@import './_utils';

@font-face {
    font-family: 'IstokWeb';
    src: url('/fonts/IstokWeb-regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IstokWeb';
    src: url('/fonts/IstokWeb-bold.ttf');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'IstokWeb', sans-serif;
    padding: 5px auto-clamp(4, 10);
    overflow-x: hidden;
}