@import './_utils';

@font-face {
    font-family: 'IstokWeb';
    src: url('/fonts/IstokWeb-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IstokWebBold';
    src: url('/fonts/IstokWeb-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/RubikMonoOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'IstokWeb';
    padding: 5px auto-clamp(4, 10);
    overflow-x: hidden;
}