@import './_utils';

.headerLightGreenBlock {
  width: auto;
  background: #84FF00;
  padding-bottom: auto-clamp(0, 250);;
}

.thinkText {
  font-size: auto-clamp(0, 600);
  line-height: auto-clamp(0, 470);
  padding-top: auto-clamp(20, 50);
  display: inline-block;
  width: 100%;
  height: fit-content;
  position: relative;
}

.T {
  font-weight: bold;
  font-family: 'Rubik';
  display: inline-block;
  transform-origin: left;
  //animation: expandT 8s infinite;
  animation: breathe-T 6s infinite;
}

.HINK {
    display: inline-block;
    transform-origin: right;
    animation: breathe-HINK 6s infinite;
  }

.HIN {
  display: inline-block;
  animation: breathe-HIN 6s infinite;
}

.K {
  font-weight: bold;
  display: inline-block;
  transform-origin: right;
  animation: breathe-K 6s infinite;
}

@keyframes breathe-T {
  0%, 100% {
    transform: scaleX(1);
  }
  25% {
    transform: scaleX(1.3);
  }
  75% {
    transform: scaleY(0.5) scaleX(0.8);
  }
}

@keyframes breathe-HINK {
  0%, 100% {
    transform: scaleX(1);
  }
  25% {
    transform-origin: right;
    transform: scaleX(0.9);
  }
  //50%{
  //  transform: scaleX(1);
  //}
  75% {
    transform: scaleX(1.1);
  }
}

@keyframes breathe-HIN {
  0%, 100% {
    transform: scaleX(1);
  }
  25% {
    transform-origin: right;
    transform: scaleX(0.95);
  }
  50%{
    transform: scaleX(1);
  }
  75% {
    transform-origin: left;
    transform: scaleX(0.9);
  }
}

@keyframes breathe-K {
  0%, 100% {
    transform: scaleX(1);
  }
  25% {
    transform-origin: left;
    transform: scaleY(0.5) scaleX(0.9);
  }
  50% {
    transform: scaleX(1) scaleY(1);
  }
  75% {
    transform-origin: right;
    transform: scaleX(1.2);
  }
}

.textBigCode {
  display: flex;
  align-items: start;
}

.textBig {
  display: inline-block;
  font-size: auto-clamp(0, 356);
  line-height: auto-clamp(0, 200);
  z-index: 3;
  transform-origin: center left;
  animation: stretch 6s infinite;
}

@keyframes stretch {
  0%, 100% {
    transform: scaleY(0.95);
  }
  25% {
    transform: scaleY(0.9) scaleX(1.1);
  }
  75% {
    transform: scaleY(1.5) scaleX(0.75);
  }
}


.textCode {
  color: #FFFFFF;
  font-size: auto-clamp(0, 460);
  line-height: auto-clamp(0, 300);
  margin-left: -5%;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.textCode span {
  transform-origin: center;
  display: inline-block;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.C, .D {
  animation-name: shrink;
}

.O, .E {
  animation-name: expand;
}

@keyframes shrink {
  0%, 100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.8);
  }
}

@keyframes expand {
  0%, 100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.2);
  }
}



.textFast {
  position: relative;
  font-size: auto-clamp(0, 350);
  line-height: auto-clamp(0, 250);
  padding: 0;
  margin: -3% 0 50px 40%;
  z-index: 4;
  p {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    color: black;
    opacity: 0.5;
  }

  .firstFast {
    transition: opacity 0.3s ease;
    animation: moveLeft 0.1s infinite linear
  }

  .secondFast {
    color: black;
    left: 10px;
    opacity: 0.5;
    animation: moveRight 0.1s infinite linear
  }
}

@keyframes moveRight {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-1px);
  }
}

@keyframes moveLeft {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(1px);
  }
}

.headerGreenBlock {
  background: #00FF47;
  margin-left: 6%;
  margin-top: -6%;
  height: auto-clamp(0, 550);
  position: relative;
}

.tgPlane {
  width: 35%;
  height: auto;
  margin-top: -3%;
  margin-left: -4%;
}

.pinkPixel1 {
  z-index: 3;
  background: #FF67C2;
  width: 2.3%;
  padding-bottom: 2.3%;
  position: absolute;
  top: -7%;
  //right: 13.2%;
  right: 23.2%;
}

.pinkPixel2 {
  background: #FF67C2;
  width: 2%;
  padding-bottom: 2%;
  position: absolute;
  //top: 23%;
  //right: 11.1%;
  top: 16%;
  right: 21.1%;
}

.pinkPixel3 {
  background: #FF67C2;
  width: 1.3%;
  padding-bottom: 1.3%;
  position: absolute;
  //top: 13%;
  //right: 9.5%;
  top: 10%;
  right: 19.5%;
}

.pinkPixel4 {
  background: #FF67C2;
  width: 1.3%;
  padding-bottom: 1.3%;
  position: absolute;
  bottom: 33%;
  right: 12%;
}

.pinkPixel5 {
  background: #FF67C2;
  width: 4.2%;
  padding-bottom: 4.1%;
  position: absolute;
  bottom: 15%;
  right: 5%;
}

.serviceBlock {
  border-radius: 18px;
  background-color: black;
  margin-top: 150px;
  padding: 80px;
  margin-bottom: 150px;
}

.serviceAncore {
  color: #D9D9D9;
  background-color: black;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 25px 50px;
  width: fit-content;
  font-size: 40px;
  margin-top: -160px;
  margin-left: 20%;
}

.weOffer {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 98px;
  text-transform: uppercase;
  text-align: right;
  margin: 0 20px -45px 0;
}

.offerText {
  border-radius: 18px;
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: 28px;
  text-align: left;
  padding: 30px 40px;
  margin-bottom: 100px;
}

.techLine {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.technicBlock {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(6, 100px);
  grid-template-rows: repeat(3, 100px);
  align-items: center;
}

.techElement {
  background-color: #D9D9D9;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  filter: grayscale(100%);
  transition: filter 0.3s ease;
  &:hover {
    filter: grayscale(0%);
  }
}

.whyTitle {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 98px;
  text-transform: uppercase;
  text-align: left;
  margin: 0 20px -45px 120px;
}

.whyGroup {
  position: relative;
}


.whyText {
  position: relative;
  border-radius: 18px;
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: 28px;
  text-align: left;
  padding: 30px 40px;
  margin-bottom: 100px;
  z-index: 2;
  width: 80%;
  margin: auto;

  p {
    font-weight: normal;
    padding: 0;
    margin: 0 0 0 10px;
  }
}

.whyTextBoldLine {
  font-family: 'IstokWebBold';
  margin: 0 0 0 0 !important;
}

.greenWhyBG {
  background: #00FF47;
  border-radius: 18px;
  height: 350px;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 0;
}

.whiteCloud1 {
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  width: 300px;
  height: 60px;
  background: #FFFFFF;
  position: relative;
  z-index: 2;
  margin: 0 145px 0 auto;
}

.whiteCloud2 {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  width: 300px;
  height: 60px;
  background: #FFFFFF;
  position: relative;
  z-index: 2;
  margin: -15px 45px -15px auto;
}

.whyGreenCloud1 {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 65px;
  height: 65px;
  border-radius: 12px;
  background: #00FF47;
  margin: 0 0 -100px auto;
}
.whyGreenCloud2 {
  position: absolute;
  bottom: -6%;
  right: 8%;
  width: 65px;
  height: 65px;
  border-radius: 12px;
  background: #00FF47;
  margin: 0 0 -100px auto;
}

.whyPointsList {
  margin-top: 40px;
  margin-left: 120px;
}


.projectBlock {
  border-radius: 18px;
  background-color: black;
  margin-top: 150px;
  padding: 80px 60px;
  margin-bottom: 150px;
  color: #FFFFFF;
}

.projectAncore {
  color: #D9D9D9;
  background-color: black;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 25px 50px;
  width: fit-content;
  font-size: 40px;
  margin-top: -160px;
  margin-left: 45%;
}

.projectTitle {
  font-family: 'IstokWebBold';
  font-size: 50px;
}

.projectDescriptionBlock {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  gap: 100px;
}

.projectDescription {
  align-self: center;
  padding: 40px;

  a {
    font-family: 'IstokWebBold';
  }
}

.projectImage {
  align-self: center;
  justify-self: end;
}

.projectCloud {
  position: relative;
  font-family: 'Rubik';
  font-weight: bold;
  color: black;
  padding: 15px;
  background-color: #00FF47;
  border-radius: 18px;
  width: fit-content;
  z-index: 4;
  margin: -100px 0 50px 25%;
}

.projectCloudText {
  position: relative;
  z-index: 4;
}

.projectCloud1 {
  background-color: #00FF47;
  border-radius: 18px;
  height: 30px;
  width: 70px;
  position: absolute;
  top: -15px;
  right: 40px;
  z-index: 1;
}

.projectCloud2 {
  background-color: #00FF47;
  border-radius: 18px;
  height: 30px;
  width: 70px;
  bottom: 0;
  left: -30px;
  position: absolute;
  z-index: 1;
}

.projectPointList {
  height: fit-content;
  margin-top: 20px;
}