@import '../../app/_utils.scss';

.navbar {
  position: fixed;
  top: -1px;
  left: 0;
  width: 100vw;
  height: fit-content;
  background: transparent;
  color: white;
  mix-blend-mode: exclusion;
  z-index: 100;
  padding: 30px 20px 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.navbar a {
  font-family: 'IstokWeb';
  text-transform: uppercase;
  mix-blend-mode: exclusion;
  color: white;
  text-decoration: none;
  font-size: auto-clamp(20, 55);
  font-weight: bold;
  padding: 12px;
}

.logo {
  width: 25vw;
  border-radius: 18px;
  padding: 0 10px;
}

.navbarStatic {
  width: 100%;
  height: fit-content;
  padding: 30px 0 0 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.logoHiden {
  width: 25vw;
  border-radius: 18px;
  padding: 0 10px;
  visibility: hidden;
}

.navbarStatic a, .showen {
  visibility: hidden;
  color: #FFFFFF;
  background: #040712;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 12px;
  font-size: auto-clamp(20, 55);
  font-weight: bold;
  font-family: 'IstokWeb';
  text-transform: uppercase;
}

.showen {
  position: relative;
  z-index: 111;
  visibility: visible !important;
}

.navBarStaticMobile {
  display: none;
}

@media screen and (max-width: 760px) {
  .navbar, .navbarStatic, .showen {
    visibility: hidden !important;
  }

  .navBarStaticMobile {
    display: block;
    font-family: 'IstokWebBold';
    font-size: 40px;
    line-height: 40px;
    text-align: right;
    margin: 0 20px -10px 0;
    padding: 0;
  }
}