@import '../../../app/_utils';

.container {
  display: grid;
  grid-template-columns: 80px auto;
  align-items: center;
  cursor: pointer;
  color: white;
  padding: 10px;
}

.circle {
  justify-self: end;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 15px;
  transition: width 0.3s ease;
  margin-right: 10px;
}

.text {
  font-family: 'IstokWebBold';
  font-size: auto-clamp(16, 24);
  transition: color 0.3s ease;
}
