@import '../../../app/_utils';

.container {
  display: grid;
  grid-template-columns: auto 80px;
  gap: 5px;
  height: auto;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  margin-bottom: 10px;
}

.circle {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 15px;
  transition: width 0.3s ease;
  margin-right: auto;
}

.text {
  font-family: 'IstokWebBold';
  text-align: left;
  font-size: auto-clamp(18, 40);
  align-self: center;
}
